body {
    background-color: grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    display:flex;
    flex-direction: column;
    align-items: center;
}

#pixel-size{
    width: 700px;
}

.inputs{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
}

#select-color{
    display: flex;
}

button{
    border-radius: 10px;
    border: 5px ridge red;
    font-size: 20px;
}

button, #color-select {
    height: 60px;
    width: 200px;
    margin:5px auto;
}

#slide-value{
    margin: auto;
}

#border {
    border: 100px ridge red; 
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

#canvas {
    background-color: antiquewhite;
    padding: 0px;
    height: 900px;
    width: 900px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.pixel {
    background-color: antiquewhite;
}